{% extends 'back/base.html.twig' %}

{% block title %}Romain Back Office - Nouvelle collection{% endblock %}

{% block body %}
    <h1>Créer une nouvelle collection</h1>

    {{ include('back/portfolio/_form.html.twig') }}

    <a href="{{ path('portfolio_browse') }}">Retour à l'accueil</a>
{% endblock %}
