{% extends 'back/base.html.twig' %}

{% block title %}New Photography{% endblock %}

{% block body %}
    <h1>Create new Photography</h1>

    {{ include('photography/_form.html.twig') }}

    <a href="{{ path('photography_index') }}">back to list</a>
{% endblock %}
