<form method="post" action="{{ path('biography_delete', {'id': biography.id}) }}">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ biography.id) }}">

    <button class="btn btn-danger dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Supprimer
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button type="submit" class="dropdown-item">Confirmer</button>
        <a class="dropdown-item" data-toggle="dropdown">Annuler</a>
    </div>
</form>
