<!DOCTYPE html>

<title>New Biography</title>

{% block body %}
    <h1>Create new Biography</h1>

    {{ include('biography/_form.html.twig') }}

    <a href="{{ path('biography_index') }}">back to list</a>
{% endblock %}
