@import url(//fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,200;0,400;0,500;0,700;1,200;1,400;1,500;1,700&display=swap);

.picture-small {
  max-width: 70%,
}

.portfolio-cards {
  display: flex;
  justify-content: space-between;
}

.cards-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.photography-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards {
  margin-bottom: 1em;
  border: 1px solid #00000047;
  padding-top: 0.7em;
  max-width: 30%;
}

.change-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1em;
}

body {
  font-family: 'JetBrains Mono';
}

.logo {
  font-size: 1.4em;
  font-weight: 500;
}

.photo {
  margin-bottom: 2em;
}

.bio-text {
  white-space: pre-wrap; 
}



.portfolio-picture {
  position: relative;
  margin-bottom: 5em;
}

.shade {
  display: flex;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(206, 206, 206, 0.6);
  color: rgb(25, 25, 25, 0.77);
  box-shadow: 0px 0px 8px 5px rgba(206, 206, 206, 0.6);
}

.front {
  position: relative;
  min-height: 100vh;
}

main {
  padding-bottom: 2.5rem;
}

footer {
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  display: inline-flex;
  align-items: baseline;
  justify-content: center;
  
}

.sitemap {
  margin-left: 1em;
}


@media (min-width: 576px) {
  .front {
    font-size: 1.3em;
  }

  .front-body {
    margin: 2em 4em;
  }

  .copyright {
    font-size: 0.4em;
  }

  .cards {
    max-width: 80%;
  }
}

@media (min-width: 992px) {
  .front {
    font-size: 1em;
  }

  .nav {
    display: flex;
    justify-content: space-between;;
  }

  .insta-logo {
    top: 0.25em;
    position: relative;
    left: 1em;
  }

  .portfolio-picture {
    position: relative;
    margin-bottom: 5em;
  }

  .cards {
    max-width: 30%;
  }
  
  .shade {
    transition: 0.5s;
  }

  .shade:hover {
    color: rgba(128, 128, 128, 0);
    background: rgba(128, 128, 128, 0);
    box-shadow: 0px 0px 8px 5px rgba(128, 128, 128, 0);
  }
   
  .copyright {    
    font-size: 0.7em;
  }
}