{% extends 'front/base.html.twig' %}

{% block title %}Romain Godard - Collection{% endblock %}

{% block body %}


<h1 class="collection-name">{{ portfolio.name }}</h1>

{% for photography in photographies %}

<img class="card-img-top photo" src="{{ asset(photography.picture) }}" alt="Card image cap">
<figcaption>{{ photography.title }}</figcaption>

{% endfor %}

{% endblock %}