{% extends 'front/base.html.twig' %}

{% block title %}Romain Godard - Collection{% endblock %}

{% block body %}


<h1>{{ portfolio.name }}</h1>

{{ dump(photographies) }}

{% for photography in photographies %}

<img class="card-img-top photo" src="{{ asset(photography.picture) }}" alt="Card image cap">

{% endfor %}

{% endblock %}