{% extends 'front/base.html.twig' %}

{% block title %}Romain Godard - Accueil{% endblock %}

{% block body %}


<div class="index-banner">
  <h1>Romain Godard</h1>
  
  <p>Photographe</p>

</div>

<h2 class="projets">Projets</h2>

{% for portfolio in portfolios %}
  <a href="{{ path('front_portfolio_read', {'id': portfolio.id}) }}" >
    <div class="portfolio-picture">
      <img class="card-img-top" src="{{ asset(portfolio.picture) }}" alt="Card image cap">
      <div class="shade">
        <h2>
          {{ portfolio.name }}
        </h2>
        <p>
          {{ portfolio.description }}
        </p>
      </div>
    </div>
  </a>



{% endfor %}

{% endblock %}
