{% extends 'front/base.html.twig' %}

{% block title %}Romain Godard - Page non trouvée{% endblock %}

{% block body %}

<h1>Page non trouvée</h1>

<p>La page que vous recherchez n'existe pas (ou plus), ou bien l'adresse est incorrecte.</p>

<a href="{{ path('front_home') }}">Retour à la page d'accueil</a>


{% endblock %}